<div class="jumbotron mt-3">
  <h1 class="display-4">mandalart-tool</h1>
  <p class="lead">アイデアを量産できる。マンダラート思考法ツール。</p>
  <hr class="my-4">
  <%= link_to 'ユーザー登録', new_user_registration_path, role:"button", class:"btn btn-primary" %>
  <%= link_to 'ログイン', new_user_session_path, role:"button", class:"btn btn-primary" %>
</div>
